@charset "UTF-8";
body{
	background-image:url(../img/new1.jpg);
	background-size:100% 100vh;
	background-repeat: no-repeat;
	color:white;
	
}

.background
{
	color:white;
	height:200px;
	width:300px;
	background-color:gray;
	margin:auto;
	opacity:0.7;
	margin-top:10vw;
	text-align:center;
	padding:30px;
	vertical-align:center;
	position:fix;
	
	
}
legend
{
	font-size:45px;
	color:white;
	
	
}
input
{
	vertical-align:middle;
	margin:20px;
}
.password
{
	height:50px;
}
.login:hover
{
	color:blue;
	
	
}

